.d1{
	background: #00bcd4;
}
.d2{
	color: white;
	padding-left: 400px;
	padding-top: 100px;
}
.d5{
  margin-left: 150px;
  padding-left: 150px;
  padding-top: 50px;
  width: 440px;
  height: 300px;
}
.d6{
   margin-left: 150px;
   padding-top: 50px;
   width: 300px;
   height: 300px;
}
.d7{
	margin-left: 10px;
	padding-top: 50px;
	width: 300px;
	height: 300px;

}
.d9{
	margin-left: 150px;
	padding-left: 150px;
	padding-top: 50px;
	width: 440px;
	height: 300px;

}
.d10{
    margin-left: 150px;
    padding-top: 50px;
    width: 300px;
    height: 300px;
}
.d11{
  margin-left: 10px;
  padding-top: 50px;
  width: 300px;
  height: 300px;
}
.d12{
  margin-left: 1200px;
}