.d1{
	background: #00bcd4;
}
.d2{
	color: white;
	padding-left: 400px;
	padding-top: 100px;
}
.d5{
  margin-left: 130px;
  padding-top: 50px;
  padding-left:130px;
  width: 450px;
  height:330px;
}
.d6{
    margin-left: 100px;
    padding-top: 50px;
    width: 350px;
    height: 330px;
}
.d7{
	margin-left: 10px;
	padding-top: 50px;
	width: 50px
	height:50px;

}
.d9{
	margin-left: 130px;
	padding-left: 130px;
	padding-top: 50px;
	width: 450px;
	height: 330px

}
.d10{
    margin-left: 100px;
    padding-top: 50px;
    width: 350px;
    height: 330px;

}
.d11{
    margin-left: 10px;
    padding-top: 50px;
    width: 390px;
    height: 330px;
}
.d12{
  margin-left: 1200px;
}