body{
	background-image: url(https://akm-img-a-in.tosshub.com/indiatoday/images/story/201704/main-image_647_041317043939.jpg?size=1200:675);
	background-size: cover;
}
.d2{
	margin-left: 1100px;
	margin-top: 70px;
	width: 250px;
	height: 35px;
}
.d3{
	color: white;
}
.d4{
	color: white;
}