.d1{
	background: #00bcd4;
}
.d3{
	padding-left: 500px;
	padding-top: 100px;
	color: white;
}
.d4{
	margin-left: 1100px;
	margin-top: 50px;
}
.d8{
	padding-left: 260px;
	padding-top: 50px;
	width: 600px;
}
.d9{
	padding-top: 50px;
	color: white; 
}
.d10{
	color: white;
}.m1{
	color: white;
}

