.d1{
	background: #00bcd4;
}
.d3{
	color: white;
	padding-left: 500px;
	padding-top: 100px;
}
.d5{
	padding-left: 255px;
	padding-top: 50px;
	width: 550px;
	height: 300px;
}
.d6{
	margin-left: 140px;
	padding-top: 50px;
	width: 300px;
	height: 300px;
}
.d7{
	margin-left: 80px;
	padding-top: 50px;
	width: 300px;
	height: 300px;
}
.d9{
	padding-left: 255px;
	padding-top: 30px;
	width: 550px;
	height: 250px;
}
.d10{
	margin-left: 100px;
	padding-top: 50px;
	width: 370px;
	height:250px;
}
.d11{
	margin-left: 80px;
	padding-top: 50px;
	width:300px;
	height:250px;

}
.d12{
	padding-left: 330px;
	padding-top: 30px;
	width:900;
	height: 250px;
}
.d13{
	margin-left: 1200px;


}

