.d1{
	background: #00bcd4;
}
.d2{
	color: white;
	padding-left: 400px;
	padding-top: 100px;
}
.d5{
    margin-left: 210px;
    padding-top: 50px;
    width: 330px;
    height:300px;
}
.d6{
    margin-left: 100px;
    padding-top: 50px;
    width: 330px;
    height:300px;
}
.d7{
    padding-top: 50px;
    width: 330px;
    height: 300px;
}
.d9{
	padding-left: 200px;
margin-left: 210;
padding-top: 50px;
width: 530px;
height: 300px;
}
.d10{
     margin-left: 100px;
     padding-top: 50px;
     width: 330px;
     height:300px;
}
.d11{
    padding-top: 50px;
    width:330px;
    height: 300px;

}
.d13{
    margin-left: 1200px;
}