.d1{
	background: #00bcd4;
}
.d2{
	color: white;
	padding-left: 420px;
	padding-top: 100px;
}
.d5{
   margin-left: 120px;
   padding-left: 120px;
   padding-top: 50px;
   width:470px;
   height: 300px
}
.d6{
    margin-left: 100px;
    padding-top: 50px;
    width: 380px;
    height: 300px;
}
.d7{
   margin-left: 5px;
   padding-top: 50px;
   width:370px;
   height:300px;
}
.d9{
	margin-left: 118px;
	padding-left: 118px;
	padding-top: 50px;
	width:475px;
	height:260px;

}
.d10{
    margin-left: 103px;
    padding-top: 50px;
    width: 380px;
    height: 260px;
}
.d11{
	margin-left: 10px;
	padding-top: 50px;
	width:370px;
	height: 260px;

}
.d13{
	margin-left: 620px;
	padding-top: 50px;
	width: 380px;
	height: 250px;
}
.d14{
	margin-left: 1200px;
}